<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consultoria de Cabelos</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="img/icon-hair.png" type="image/x-icon">
  <script src="script.js" defer></script>
  
</head>

<body>

  {{{body}}}

</body>
</html>